---
// Importación del tipado y desestructuración de las props
import type { Translations } from '../types/Translations';
const { education } = Astro.props as { education: Translations['education'] }; 
---
<!-- Eleccion de section -->
<section id="education" class="py-24 bg-greenLight">
  <!-- Título de la sección de Educación -->
  <h2 class="text-4xl font-poppins font-bold text-brown mb-6 text-center">
    {education.title}
  </h2>

  <!-- Comprobamos si hay elementos en 'education.items' para mostrar. Si los hay, se muestran, si no, se muestra 'No information.' -->
  {education?.items?.length ? (
    <div class="relative max-w-4xl mx-auto">
      <!--Contenedor para cada hito-->
      <div class="space-y-8">
        {education.items.map((item, index) => (
          <div data-key={item.institution} class="flex items-start">
            <!-- Punto de la línea de tiempo -->
            <div class="w-6 h-6 rounded-full bg-green text-rose border-2 border-rose dark:border-brown relative z-1">
              {/* Aquí va el punto */}
            </div>

            <!-- Información de la Institución y Título -->
            <div class="ml-6">
              <h4 class="text-xl font-semibold mb-1.5 font-poppins text-brown">{item.institution}</h4>
              <p class="text-lg md:text-xl font-montserrat text-brown text-justify leading-relaxed">{item.degree}</p>
              <p class="text-sm text-brown dark:text-rose font-montserrat leading-relaxed">{item.years}</p>
            </div>
          </div>
        ))}
      </div>
    </div>
  ) : (
    <p>No information.</p>
  )}
</section>


















