---
// Importaciones de tipado
import type { ProjectModel } from '../types/ProjectModel';

// Desestructuración de las props: projectContent y testMode (booleano)
const { projectContent, testMode } = Astro.props as { projectContent: ProjectModel, testMode: boolean };

---

<section id="project" class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <!-- Card contenedor -->
  <div class="relative max-w-sm rounded-lg overflow-hidden shadow-lg group">
    
    <!-- Imagen del Proyecto como fondo (cubre toda la card) -->
    <div class="relative w-full h-64">
      {projectContent.picture && (
        <img
          src={projectContent.picture}
          alt={`Imagen de ${projectContent.projectName}`}
          class="w-full h-full object-cover group-hover:opacity-50 transition-opacity duration-300"
        />
      )}
    </div>

    <!-- Título del Proyecto (sobre la imagen) -->
    <div class="absolute inset-0 flex flex-col justify-center items-start text-white bg-black bg-opacity-50 p-4">
      <h2 class="text-2xl font-semibold">{projectContent.projectName}</h2>
    </div>

    <!-- Información adicional que aparece al hacer hover -->
    <div class="absolute inset-0 flex flex-col justify-start items-start bg-white opacity-0 group-hover:opacity-100 p-4 transition-opacity duration-300">
      <!-- Descripción del Proyecto -->
      <p class="text-lg mb-4">{projectContent.description || "No description"}</p>

      <!-- Tecnologías usadas -->
      <p><strong>Tech:</strong> {projectContent.technologies.length > 0 ? projectContent.technologies.join(", ") : "No includes"}</p>

      <!-- Enlace al repositorio -->
      {projectContent.repositoryUrl && (
        <a class="text-blue-500 hover:underline" href={projectContent.repositoryUrl}>
          Repository URL
        </a>
      )}
      
      <!-- Botón de eliminación si es necesario -->
      {testMode && (
        <button
          id={`deleteButton-${projectContent.projectId}`}
          class="mt-4 py-2 px-4 bg-red-500 text-white rounded-md hover:bg-red-600"
          aria-label={`Eliminar proyecto ${projectContent.projectName}`}
        >
          Eliminar Proyecto
        </button>
      )}
    </div>
  </div>
</section>





  

