---
// Importación de tipado
import type { Translations } from '../types/Translations';
// Desestructuración de las props y extraemos el subtipo de Translations
const { reference } = Astro.props as { reference: Translations['reference'] };

---
<!-- Seccion de Referencias -->
<section id="reference" class="py-24 px-4 bg-greenLight">
  <!-- Título de la sección -->
  <h2 class="text-4xl font-poppins font-bold mb-12 text-center text-brown">
    {reference.title}
  </h2>
  <!-- Lista no ordenada de referencias -->
  <ul class="space-y-12 flex flex-col items-center">
    {reference.items.map((item: Translations['reference']['items'][0]) => (
      <li
        data-key={item.name}
        class="relative bg-green text-greenLight p-6 rounded-lg shadow-md overflow-visible max-w-xl w-full"
      >
        <!-- Comillas decorativas -->
        <div class="absolute top-4 right-4 text-8xl font-bold opacity-20">
          “
        </div>

        <!-- Foto sobresaliendo del borde -->
        {item.photo && (
          <img
            src={item.photo}
            alt={`Foto de ${item.name}`}
            class="absolute -top-10 -left-10 w-20 h-20 object-cover rounded-full border-4 border-greenLight shadow-lg"
          />
        )}

        <!-- Texto de la cita -->
        <div class="pl-24">
          <p class="text-2xl text-rose leading-relaxed font-montserrat">
            {item.description}
          </p>
          <p class="mt-4 font-semibold">
            {item.name},{' '}
            <span class="text-md text-greenLightfont-montserrat">{item.relationship}</span>
          </p>
          
          <!-- Correo electrónico -->
          {item.contact && (
            <p class="mt-4">
              <a
                href={`mailto:${item.contact}`}
                class="text-rose underline hover:text-greenLight text-md font-montserrat"
              >
                {item.contact}
              </a>
            </p>
          )}
        </div>
      </li>
    ))}
  </ul>
</section>

