---
// Importación de tipado
import type { Translations } from '../types/Translations';
// Desestructuración de las props definiendo el subtipo de skill explícitamente
const { skill } = Astro.props as { skill: Translations['skill'] };  
---

<section id="skill" class="py-10">
  <!-- Título de la sección de Habilidades -->
  <h2 class="text-3xl font-bold mb-4">{skill.title}</h2>

  <!-- Se comprueba si hay elementos en 'skill.categories' para mostrar por cada categoría y si no, no se muestran -->
  {skill.categories?.frontend && (
    <div>
      <h3 class="text-2xl font-semibold mb-4">{skill.categories.frontend.title}</h3>
      <ul class="grid grid-cols-2 md:grid-cols-3 gap-4">
        {skill.categories.frontend.items.map((item) => (
          <li
          data-key={item.name}
            class="border rounded p-4 bg-white shadow hover:shadow-md transition"
          >
            <p class="font-semibold text-lg">{item.name}</p>
            <p class="text-sm text-gray-600 italic">{item.level}</p>
          </li>
        ))}
      </ul>
    </div>
  )}

  {skill.categories?.backend && (
    <div>
      <h3 class="text-2xl font-semibold mb-4">{skill.categories.backend.title}</h3>
      <ul class="grid grid-cols-2 md:grid-cols-3 gap-4">
        {skill.categories.backend.items.map((item) => (
          <li
            data-key={item.name}
            class="border rounded p-4 bg-white shadow hover:shadow-md transition"
          >
            <p class="font-semibold text-lg">{item.name}</p>
            <p class="text-sm text-gray-600 italic">{item.level}</p>
          </li>
        ))}
      </ul>
    </div>
  )}

  {skill.categories?.devops && (
    <div>
      <h3 class="text-2xl font-semibold mb-4">{skill.categories.devops.title}</h3>
      <ul class="grid grid-cols-2 md:grid-cols-3 gap-4">
        {skill.categories.devops.items.map((item) => (
          <li
          data-key={item.name}
            class="border rounded p-4 bg-white shadow hover:shadow-md transition"
          >
            <p class="font-semibold text-lg">{item.name}</p>
            <p class="text-sm text-gray-600 italic">{item.level}</p>
          </li>
        ))}
      </ul>
    </div>
  )}
</section>


