
---
import type { Translations } from '../types/Translations.ts';
const { workExperience } = Astro.props as { workExperience: Translations['workExperience'] };  // Recibimos el idioma desde Layout
console.log("Idioma en workExperience:", workExperience); // Agrega esto para depurar
---

<section id="workExperience" class="py-10">
  <h2 class="text-3xl font-bold mb-4">
    {workExperience.title}
  </h2>
  <ul class="space-y-6">
    {workExperience.items.map(job => ( (item: Translations['workExperience']['items'][0]) =>
      <li data-key={`${job.company}-${job.years}`} class="bg-white p-4 shadow rounded-lg border hover:shadow-md transition">
        <p class="font-semibold text-lg">{job.jobTitle} - <span class="text-indigo-600">{job.company}</span></p>
        <p class="text-gray-500 text-sm">{job.years}</p>
        <p class="text-gray-700 mt-2">{job.description}</p>
      </li>
    ))}
  </ul>
</section>




