---
// Importación de tipado
import type { Translations } from '../types/Translations.ts';
// Desestructuración de las props y extraemos el subtipo de Translations para workExperience
const { workExperience } = Astro.props as { workExperience: Translations['workExperience'] };  // Recibimos el idioma desde Layout
---

<section id="workExperience" class="py-10">

  <!-- Título de la sección de Experiencia Laboral -->
  <h2 class="text-3xl font-bold mb-4">
    {workExperience.title}
  </h2>

  <!-- Se comprueba si hay elementos en 'workExperience.items' para mostrar. Si lo hay se muestran y si no se muestra 'No information.' -->
  {workExperience?.items?.length ? (
  <ul class="space-y-6">
    
    {workExperience.items.map(job => ( (item: Translations['workExperience']['items'][0]) =>
      <li data-key={`${job.company}-${job.years}`} class="bg-white p-4 shadow rounded-lg border hover:shadow-md transition">
        <p class="font-semibold text-lg">{job.jobTitle} - <span class="text-indigo-600">{job.company}</span></p>
        <p class="text-gray-500 text-sm">{job.years}</p>
        <p class="text-gray-700 mt-2">{job.description}</p>
      </li>
    ))}
  </ul> ) : (
    <p>No information.</p>
  )}
</section>




